.statusbar {
    background-color: #222831;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0 5px 0;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
}

.grayBackground {
    background-color: rgb(51, 51, 51); //lightgray;
    color: lightgray;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
}

.status-left {
    display: flex;
    flex-shrink: 0;
    vertical-align: middle;
}

.status-right{
    display: flex;
    flex-shrink: 0;
    vertical-align: middle;
}

.whiteColor {
    color: white;
    margin: auto 0 auto 0;
}

